<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <p>dear ${usrname} </p><br>
    <p>Thank You for registering with demo plateform.com the no1 demo site for checking demo</p>
    <br><br>
    <p>Enter the below mentioned one time password to complete your regitration</p>
    <h1 style="font-weight: 900;">OTP:${newopt}</h1>
</body>
</html>